.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home-contentA{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100vh
}
.home-contentB{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(133, 34, 34);
    width: 100%;
    height: 100vh
}
.home-contentC{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 86, 58);
    width: 100%;
    height: 100vh
}
.home-text {
    color: white;
    font-weight: 800;
    font-size: 3rem;
}
